.header-image{
    background-image: url(https://images.unsplash.com/photo-1556075798-4825dfaaf498?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80);
    height: 36rem;
}

.header-heading{
    padding-top: 12rem;
    text-align: center;
    color: whitesmoke;
}